extends ./layout.jade

block body
  body(style='background: url(http://cdn1.sbnation.com/assets/4189267/JimPalmer1970.jpg) no-repeat top center fixed;')
    .row
      .col-md-8
      .col-md-4(style='text-align:center;')
        if isAuthenticated()
          a.btn.btn-warning(href='/rotation/create') Create Rotation
          if(rotation)
          h3#cover Your rotations
          include ./partials/rotations.jade  
          ng-view
        else
          h3#cover Dashboards for your rotations
