extends ./layout.jade

block body
  if isAuthenticated()
    h3 #{rotation.team}
    p
      a(href='/rotation/' + rotation.id + '/pitcher/create') Add a Pitcher
    .row
      include ./partials/pitchers.jade
  else
    p Log in see your rotation
