extends ../layout.jade

block body
  .well
    h1 Add a pitcher to #{rotation.team}

    form(novalidate method="POST" action="/rotation/" + rotation.id + "/pitcher/success" name="pitcherForm")
      .form-group
        label(for="firstname") Player First Name
        input.form-control(type="text" required name="firstname")
        br
        label(for="lastname") Player Last Name
        input.form-control(type="text" required name="lastname")
        br
        label(for="number") Player Number
        input.form-control(type="text" required name="number")
        br
        label(for="picture") Player Picture
        input.form-control(type="text" required name="picture")
        br
        label(for="profile") BB-Ref Profile
        input.form-control(type="text" required name="profile")
        br
        label(for="playercity") Player's Team City
        input.form-control(type="text" required name="playercity")
        br
        label(for="playerteam") Player's Team Name
        input.form-control(type="text" required name="playerteam")
        br
        label(for="playeryear") Year
        input.form-control(type="text" required name="playeryear")
        br
        label(for="seasonstats") Season Stats
        input.form-control(type="text" required name="seasonstats")
        br
      button.btn.btn-success(type="submit") Add
