extends ../layout.jade

block body
  h1 Add a game to #{pitcher.firstname} #{pitcher.lastname}

  form(novalidate method="POST" action="/pitcher/" + pitcher.id + "/game/success" name="gameForm")
    .form-group
      label(for="date") Game Date
      input.form-control(type="date" required name="date" ng-model="date")
      br
      label(for="homeaway") Home/Away?
      input.form-control(type="text" required name="homeaway" ng-model="homeaway")
      br
      label(for="opponentcity") Opponent City/State
      input.form-control(type="text" required name="opponentcity" ng-model="opponentcity")
      br
      label(for="opponentname") Opponent Team Name
      input.form-control(type="text" required name="opponentname" ng-model="opponentname")
      br
      label(for="tableau") Tableau Diagram Link
      input.form-control(type="text" required name="tableau" ng-model="tableau")
      br
      label(for="tableau2") Tableau Diagram Link
      input.form-control(type="text" required name="tableau2" ng-model="tableau2")
      br
      label(for="tableau3") Tableau Diagram Link
      input.form-control(type="text" required name="tableau3" ng-model="tableau3")
      br
      label(for="tableau4") Tableau Diagram Link
      input.form-control(type="text" required name="tableau4" ng-model="tableau4")
      br
    button.btn.btn-success(type="submit") Add
