


tr.blackrow{
  background: #000000;
  color: white;
}

td.score{
  text-align: center;
}

h3#cover{
  color:white;
}

#pitching_standard{
  font-family:Arial;
  font-size:8px;
}

#pitching_gamelogs{
  font-family:Arial;
  font-size:8px;
}
