extends ../layout.jade

block body
  h1 Create a Rotation!

  form(novalidate method="POST" action="/rotation/success" name="rotationForm")
    .form-group
      label(for="teamyear") Year
      input.form-control(type="text" required name="teamyear" ng-model="teamyear")
      br
      label(for="teamcity") Team City/State
      input.form-control(type="text" required name="teamcity" ng-model="teamcity")
      br
      label(for="teamname") Team name
      input.form-control(type="text" required name="teamname" ng-model="teamname")
      br
    button.btn.btn-success(type="submit") Create
