extends ../layout.jade

block body
  .well
    h1 Create a Rotation!

    form(novalidate method="POST" action="/rotation/success" name="rotationForm")
      .form-group(ng-class="{ 'has-error': !rotationForm.team.$valid }")
        label(for="team") Team Name
        input.form-control(type="text" required name="team")
        br
        div.alert.alert-warning(ng-hide="rotationForm.team.$valid")
          p(ng-show="rotationForm.team.$error.required") Username is required.
      button.btn.btn-success(type="submit" ng-disabled="!rotationForm.$valid") Create
